body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background: #ffe6e6;
}

.container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 12px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#yesBtn {
    background: green;
    color: white;
}

#noBtn {
    background: red;
    color: white;
    position: relative;
}